@import '../shared/scss/global.scss';

.container-fluid {
    background: $main-color;
    padding: 60px;
    margin: 0;
    text-align: center;
    color: white;
}

button {
    cursor: pointer;
}

.video-controller {
    button {
        margin-top: 50px;
        padding: 10px 50px;
    }
}

.timeline {
    margin-top: 100px;
}

.color-circle {
    left: 0px;
    width: 30px;
    height: 10px;
    top: 140px;
    position: absolute;
    border-radius: 9999px;
    background: $main-color;
    padding: 0;
    transition: .1s opacity;
    cursor: pointer;
    z-index: 9999;

    .card {
        width: 400px;
        margin-top: -220px;
        margin-left: -20px;
    }

    &.main-circle {
        width: 30px;
        height: 30px;
        top: -30px;
    }
}
