<div class="container">
    <header class="row">
        <div class="col">
            <h1 class="main-title">
                Hue Lightshow
            </h1>
        </div>
    </header>
</div>

<div class="container">
    <div class="row timeline">
        <div class="color-circle-container">
            <div class="color-circle" *ngFor="let item of dots" [style.left.px]="item.circle_offset" [style.background]="item.color"></div>
        </div>

        <div class="color-circle" [style.left.px]="timeline.circle_offset" [style.background]="color" [style.opacity]="state === TimelineState.PAUSE ? 1 : 0" (click)="openCard($event)">
            <div class="card">
                <div class="card-block" *ngIf="cardState">
                    <h4 class="card-title">Select a color</h4>
                    <h6 class="card-subtitle mb-2 text-muted">Create the perfect lightshow</h6>
                    <p class="card-text">
                        <input [(colorPicker)]="color" [style.background]="color" [value]="color"/>
                    </p>
                    <button class="btn btn-primary" (click)="newEffect()">Add new light effect</button>
                    <button class="btn" (click)="closeCard()">Close</button>
                </div>
            </div>
        </div>

        <div class="col">
            <div id="waveform" #waveform></div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-1 video-controller">
            <button class="btn btn-lg btn-primary play" (click)="play()" *ngIf="state === TimelineState.PAUSE">
                Play
            </button>
            <button class="btn btn-lg btn-primary pause" (click)="pause()" *ngIf="state === TimelineState.PLAY">
                Pause
            </button>
        </div>
    </div>

</div>
