p {
    color: white;
}

.list-group-item-action {
    cursor: pointer;
}

h3 {
    padding: 40px 0 0px 0;
    width: 100%;
    text-align: center;
    color: white;
}

span {
    padding: 20px;
    text-align: center;
    width: 100%;
    color: rgba(white, .3);


    a {
        color: rgba(white, .3);
    }
}